<div class="side-menu">
  <div class="company-logo">
    <img src="../../../assets/images/govtech_logo.png" alt="Logo">
  </div>

  <div class="employee">
    <p class="name">Liu Junhan</p>
  </div>

  <div class="list">
    <ul>
      <a href="/">
        <li>Employees</li>
      </a>
      <a href="/second-page">
        <li>Second Page</li>
      </a>
      <a href="/third-page">
        <li>Third Page</li>
      </a>
      <a href="/fourth-page">
        <li>Fourth Page</li>
      </a>
    </ul>
  </div>
</div>
