<div class="container">
    <div class="wrapper">
        <div class="profile">
            <h1>Welcome <br> back!</h1>
            <img [src]="image_url" alt="profile pic">
        </div>
        <fieldset>
            <legend>Username</legend>
            <div class="fieldset-input-with-icon">
                <input type="text">
                <i class="fa-solid fa-lock"></i>
            </div>
        </fieldset>
        <fieldset>
            <legend>Password</legend>
            <div class="fieldset-input-with-icon">
                <input type="text">
                <i class="fa-solid fa-key"></i>
            </div>
        </fieldset>
    </div>
</div>
