<div class="container">
  <div class="search">
    <div class="search-icon">
      <img src="../../assets/images/search_icon_with_dollar_sign.png" alt="Search icon">
    </div>
    <div class="search-input">
      <div class="description">
        <p>Minimum Salary</p>
        <p><strong>Enter Amount</strong></p>
      </div>
      <div class="dollar-sign">$</div>
      <input class="search-input-box" type="number" [(ngModel)]="min_salary" (ngModelChange)="search()">
    </div>

    <span class="search-dash">&nbsp; - &nbsp;</span>

    <div class="search-input">
      <div class="description">
        <p>Maximum Salary</p>
        <p><strong>Enter Amount</strong></p>
      </div>
      <div class="dollar-sign">$</div>
      <input class="search-input-box" type="number" [(ngModel)]="max_salary" (ngModelChange)="search()">
    </div>
  </div>

  <div class="header">
    <h3>Employees</h3>

    <label>Upload employee data:</label>
    <input type="file" accept=".csv, text/csv" (change)="onChange($event)">
    <button *ngIf="file" class="file-upload" (click)="onUpload()">Upload</button>
  </div>

  <div class="data-table">
    <table *ngIf="filtered_employees.length > 0">
      <thead>
        <tr>
          <th id="data-id" (click)="sort('id')">ID <i *ngIf="sortStatus.active === 'id'" [class]="'fa-solid fa-sort-' + (sortStatus.id === 1 ? 'up' : 'down')"></i></th>
          <th id="data-name" (click)="sort('name')">Name <i *ngIf="sortStatus.active === 'name'" [class]="'fa-solid fa-sort-' + (sortStatus.name === 1 ? 'up' : 'down')"></i></th>
          <th id="data-login" (click)="sort('login')">Login <i *ngIf="sortStatus.active === 'login'" [class]="'fa-solid fa-sort-' + (sortStatus.login === 1 ? 'up' : 'down')"></i></th>
          <th id="data-salary" (click)="sort('salary')">Salary <i *ngIf="sortStatus.active === 'salary'" [class]="'fa-solid fa-sort-' + (sortStatus.salary === 1 ? 'up' : 'down')"></i></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filtered_employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.login }}</td>
          <td>{{ employee.salary }}</td>
          <td>Edit | Delete</td>
        </tr>
      </tbody>
    </table>

    <div class="no-data" *ngIf="filtered_employees.length === 0">
      No Data
    </div>
  </div>
</div>
